body {
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
  background-color: lightgray;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  background-color: lightgray;
}

#saved-articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  background-color: lightgray;
}

#notes {
  float: right;
  width: 30%;
}
textarea,
input {
  display: block;
  width: 100%;
  background-color: lightgray;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
